/* 
    Name: main_style_sheet.css
    Date Created: July 15 2021
    Date Modified: July 15 2021
*/

a {
    text-decoration: none;
}

.logoimg {
    float: left;
}

.logocaption {
    float: left;
    margin-top: -0.1%;
    margin-left: 0.8%;
    font-family: Tahoma;
    color: #002D72;
}

.name {
    clear: both;
    width: 100%;
    text-align: center;
    margin: auto;
    font-family: Tahoma;
    font-size: 36px;
    color: #002D72;
}

.footer {
    position: relative;
    top: 100%;
    text-align: center;
    padding: 2px;
    border-top: 1px solid #002D72;
    border-bottom: 1px solid #002D72;
    width: 100%;
}